  /* Feed content on the right side */
  .feed {
    margin-left: 250px; /* Same as the navbar width */
    padding: 20px;
    width: calc(100% - 250px); /* Adjust to take full width excluding navbar */
    width: 70%;
    overflow-y: auto;
  }

 