/* Remove modal overlay for search */
.search-modal-container {
  position: absolute;
  top: 50px;
  left: 150px; 
  z-index: 1050;
  background: transparent;
}
.search-item{
  list-style: none;
}
.search-header{
  font-size: 1.3rem;
  padding-top: 0px !important;
}
a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.search-component {
  width: 300px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease-in-out;

  .search-bar{
    width: 100%;
    border: none;
    background-color: $secondary-color;
    padding: 8px 0px;
    border-radius: 5px;
    

    input{
      background-color: $secondary-color !important; 
      border: none !important;
     

      &:focus {
        border-color: $secondary-color !important;
        background-color: #ffffff;
        outline: none;
    }
    }
    
  }
}
.user-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 20px;
}
/* Opening animation */
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
