.search-modal-container {
  position: fixed;
  top: 50px; 
  left: 290px; 
  z-index: 1050;
  box-shadow: none;
  padding: 20px; 
  width: 300px;
  max-width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
  animation: slideRight 0.3s ease-in-out;

  .search-header{
    font-size: 1.1rem;
    padding-top: 0px !important;
  }
  .divider-search{
    border-bottom: 1px solid $grey-bg-color;
    padding: 10px;
  }
  .search-bar{
    width: 100%;
    border: none;
    background-color: $grey-bg-color !important;
    padding: 3px ;
    border-radius: 5px;
    position: relative;

    .input-search{
      background-color: $grey-bg-color !important;
      border: none !important;
      padding: 5px 12px; 
      font-size: 1rem;
      border-radius: 5px;
    
     
      &::placeholder {
        color: #aaa;
      }
      
      &:focus {
        border-color: $secondary-color !important;
        background-color: #ffffff;
        outline: none;
    }
    }
    .clear-button {
      position: absolute;
      right: 10px;
      top: 0%;
      transform: translateX(95%);
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
      border-radius: 50%;
      color: #aaa; 
    }
    .clear-button:hover {
      color: #000; 
    }

  }


}

.search-dropdown {
  width: 100%;
  background: none;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search-item img.user-avatar {
  margin: 15px 0px 5px 5px ;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  object-fit: cover; 
  margin-right: 10px;
}

.search-item .search-fullname {
  flex-grow: 1;
  font-size: 1rem; 
  padding-top: 10px !important;
}



.close-btn:hover {
  color: #000;
}
a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
 
/* Opening animation */
@keyframes slideRight {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}