.comments-container {
  padding: $spacing;

  ul {
    list-style: none;
    padding: 0;

    .comment {
      margin-bottom: $spacing / 2;
      display: flex;
     /* justify-content: space-between;*/
      

      strong {
        color: $text-color;
        font-size: 1.2rem;
      }

      span {
        color: $text-color;
        padding-left: 10px;
        font-size: 14px;
        padding-top: 4px;
      }
    }
  }

  .add-comment {
    display: flex;
    margin-top: $spacing;

    .comment-input {
      flex: 1;
      border: none;
      border-radius: 4px;
      padding: $spacing / 2;
      margin-right: $spacing / 2;
      background-color: $background-color;
    }

    .comment-submit-btn {
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: $spacing / 2 $spacing;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}