.comments-container {
  padding: 0px ;

  ul {
    list-style: none;
    padding: 0;

    .comment {
      margin-bottom: $spacing / 2;
      display: flex;
     /* justify-content: space-between;*/
      

      strong {
        color: $text-color;
        font-size: $font-size-primary;
      }

      span {
        color: $text-color;
        padding-left: 10px;
        font-size: $font-size-primary;
        padding-top: 1px;
      }
    }
  }

  .add-comment {
    display: flex;
    margin-top: $spacing;

    .comment-input {
      flex: 1;
      border: none;
      border-radius: 4px;
      margin-right: $spacing / 2;
      background-color: $background-color;
      font-size: 0.9rem;

      &:focus {
        outline: none;
     }
    }

    .comment-submit-btn {
      background-color: white;
      color: $primary-color !important;
      border: none;
      font-weight: 600;
      border-radius: 4px;
      padding: $spacing / 2 $spacing;
      cursor: pointer;
      transition: background-color 0.3s;

      
    }
  }
}

.add-comment-modal {
  display: flex;
  margin-top: $spacing;

  .comment-input-modal {
    flex: 1;
    border: none;
    border-radius: 4px;
    margin-right: $spacing / 2;
    background-color: $background-color;
    font-size: 0.9rem;

    &:focus {
      outline: none;
   }
  }

  .comment-submit-btn {
    background-color: white;
    color: $primary-color !important;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    padding: $spacing / 2 $spacing;
    cursor: pointer;
    transition: background-color 0.3s;

    
  }
}

/*.show-comments-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: $secondary-color;
  margin-bottom: 10px;
  padding: 0;
  font-size: 15px;
}

.show-comments-btn:hover {
  text-decoration: underline;
}*/


@media (max-width: 768px) {

  .comment span {
    padding-left: 3px !important;
    font-size: 14px !important;
    padding-top: 1px;
  }
}