.likes button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  color: black !important;

  i {
    font-size: 20px;
    margin-right: $spacing / 2;
    color: black;

    &.fa-heart {
      color: red;
    }
  }
}


.fa-regular.fa-heart{
  color: black !important;
}
.fa-solid.fa-heart {
  color: red !important;
}

.heart-icon:hover{
  color: rgb(137, 134, 134) !important;
}

.send-icon:hover{
  color: rgb(137, 134, 134) !important;

}
.comment-icon:hover{
  color: rgb(137, 134, 134) !important;

}