.likes{

font-size: 0.9rem;
button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  color: black !important;
  padding-top: 10px ;

  i {
    font-size: 1.5rem;
    margin-right: 18px;
    color: black;

    &.fa-heart {
      color: red;
    }
  }
}
}
.number-likes{
  padding-left: 5px;
  font-weight: bold;
}


.fa-regular.fa-heart{
  color: black !important;
}
.fa-solid.fa-heart {
  color: red !important;
}

.heart-icon:hover{
  color: rgb(137, 134, 134) !important;
}

.send-icon:hover{
  color: rgb(137, 134, 134) !important;

}
.comment-icon:hover{
  color: rgb(137, 134, 134) !important;

}