.upload-preview {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 100%;
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center; 

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    label {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0;
        cursor: pointer;
        color: #007bff;
        transition: color 0.3s ease;
        
        &:hover {
            color: #0056b3; 
        }
    }

    input[type="file"] {
        display: none; 
    }
}
.modal-textarea {
    width: 100%;
    min-height: 150px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    transition: all 0.3s ease;
    border: none;
    
    &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    &:hover {
        border-color: #0056b3;
    }
}
.uploadSubmit {
    background-color: #007bff !important;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px; 
    display: flex;
    margin: 0 auto;
    &:hover {
        background-color: #0056b3; 
    }

    &:focus {
        outline: none;
    }
}
.submit-modal-upload{
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: #007bff;
    border:none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1100;
    transition: background-color 0.3s ease, color 0.3s ease;
}



.username-modal{
    display: flex;
}