$primary-color: hsl(204, 100%, 48%);
$secondary-color: #737373;
$background-color: #ffffff;
$grey-bg-color: #ebebeb;
$text-color: #262626;
$link-color: #00376b;
$border-color: #ddd;
$spacing: 16px;
$font-size-primary: 0.9rem;
